body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  background-color: #1F2937;
}

#header-logo {
  font-size: 24px;
  color: #F9FAF8;
  padding: 15px;
  font-weight: bold;
}

#header-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#header-links p {
  margin-right: 20px;
  font-size: 16px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 50px;
  background-color: #1F2937;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero-text p {
  margin-top: 10px;
  font-size: 18px;
  color: #E5E7EB;
}

#signup-button {
  background-color: #3882F6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero-container {
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.information {
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
}

.information h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.placeholder-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0 6em 0;
}

.placeholder {
  text-align: center;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.square {
  border: 4px solid #3882F6;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 7em 13em;
}

.quote p {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 24px;
  color: #1f2937;
}

.quote h2 {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.cta {
  background-color: #3882F6;
  color: #fff;
  text-align:center;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items : center;
  text-align: start;

}

.cta h2 {
  font-size: 36px;
  margin-bottom: 6px;
}

.cta p {
  font-size: 20px;
}

#signup-button-cta {
  background-color: #3882F6;
  color: #ffffff;
  padding: 10px 20px;
  border: rgb(255, 255, 255) 2px solid;
  cursor: pointer;
  text-align: right;
  font-size: 16px;
  border-radius: 8px;
  
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1F2937;
  color: #F9FAF8;
}